<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'gpslogo.png' %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="page-header">
        <h1>Welcome Back <small>class of 2000</small></h1>
      </div>
    </div>
    <div class="main">
      <div class="row">
        <div class="col-xs-3">
          <div class="aside">
            <ul class="nav">
              <li><a href="#">Reunion Information</a></li>
              <li><a href="#">Contact Class Officers</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-8 article">
          <%= yield %>
        </div>
      </div>
    </div>


    <div class="footer">
      ...
    </div>
  </div>
</body>
</html>
