<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'gpslogo.png' %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="page-header">
        <h1>Welcome Back <small>class of 2000</small></h1>
      </div>
    </div>
    <div class="main">
      <div class="row">
        <div class="col-xs-2">
          <div class="aside">
            <ul class="nav">
              <li><%= link_to 'Welcome', '/' %></li>
              <li><%= link_to 'Reunion Info', 'gen_info_path' %></li>
              <li><%= link_to 'Class Officers', 'officers_path' %></li>
              <li><%= link_to 'Class Mates', 'class_mates_path' %></li>
              <li><%= link_to 'In Memorium', 'memorium_path' %></li>
              <li><%= link_to 'Photo Library', 'photos_path' %></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-7 article">
          <%= yield %>
        </div>
        <div class="col-xs-3">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= image_tag(Photo.last[:url]) %>
              </div>

              <% Photo.all.each do |photo| %> 
                <div class="item">
                  <%= image_tag(photo[:url]) %>
                </div>
              <% end %>

            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="footer">
      ...
    </div>
  </div>
</body>
</html>
